# Base requirements
-r requirements.txt

# The following are only required for Spiral development
setuptools>=39.2.0
wheel>=0.31.0
pytest>=4.3.1
pytest-cov>=2.6.1
pre-commit
sphinx
sphinx_rtd_theme

# Required for optional extensions
colorlog
jinja2
numpy
pandas
plotly
psutil
pylibmc
pysocks
pystache
python-datauri
PyYAML
redis
sklearn
statsmodels
tabulate
titlecase
watchdog
